OPENAI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=

DATABASE_URL=

JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

SYSTEM_PROMPT=

BACKEND_CORS_ORIGINS=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=